@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

/* HeaderCp */
header{
  height: 60px;
  background-color: #ccc;
  padding: 0 20px;
}
header .wrap{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrap .logo{}
header .wrap .logo a{
  text-transform: uppercase;
  color: #333;
}
header .wrap .logo a img{
  height: 40px;
}

header .wrap nav{display: flex; column-gap: 20px;}
header .wrap nav ul{
  display: flex; 
  column-gap: 10px;
}
header .wrap nav ul li{}
header .wrap nav ul li a{
  color: #555;
}
header .wrap nav ul li:hover a{
  color: #111;
}

header .wrap nav div{
  display: flex;
  column-gap: 10px;
}
header .wrap nav div button{
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  background-color: #9af;
  color: #fff;
  cursor: pointer;
}
header .wrap nav div button:hover{
  background-color: #78d;
  color: #fff;
}

.mainbanner{
  width: 100%;
  height: 400px;
}
.mainbanner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



